<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- External Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


        <title>About</title>
    </head>

<body>
    <div class="row2">
        <ul>
            <li><a href="userin">Home</a></li>
            <li><a href="movies">Movies</a></li>
            <li><a href="tvseries">TV Series</a></li>
            <li><a href="about">About</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="/">Log Out</a></li>
           
          </ul>
      </div>

      <div class="intro">
        <h1>What We DO</h1>
        <p>Our movie review website is dedicated to providing readers with in-depth and informative reviews of the latest films. We are a team of passionate movie enthusiasts who love nothing more than sharing our thoughts on the latest releases. We strive to provide honest and fair reviews that give readers a sense of what to expect from a film, as well as highlight its strengths and weaknesses. Whether you're looking for a quick summary or a detailed analysis, our team has you covered. Thank you for visiting our site, and we hope you find our reviews helpful and enjoyable.</p>
       
      </div>

      <div name="about-section"class="about-section">
        <h1></h1>
        <p></p>
    </div>
      

    
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="
            https://i.pinimg.com/564x/f6/80/f8/f680f8e60f09986cb97c7b1f1c3c24e4.jpg
            " alt="Jane" style="width:100%">
            <div class="container">
              <h2 style="text-align:center">Mark Laurel</h2>
              <p class="title">CEO & Founder</p>
              <p>DLSU 120 - 3rd Year BSIT Student</p>
              <p>mark_laurel@dlsu.edu.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="
            https://wallpapercave.com/uwp/uwp1441213.jpeg
            " alt="Syirhel" style="width:100%">
            <div class="container">
              <h2 style="text-align:center">Syirhel Jera</h2>
              <p class="title" style="text-align:center">Art Director</p>
              <p>DLSU 120 - 3rd Year BSIT Student</p>
              <p>syirhel_jera@dlsu.edu.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tools">
        <h1>The Tools We Use</h1>
        <p>Our movie review website is dedicated to providing readers with in-depth and informative reviews of the latest films. We are a team of passionate movie enthusiasts who love nothing more than sharing our thoughts on the latest releases. We strive to provide honest and fair reviews that give readers a sense of what to expect from a film, as well as highlight its strengths and weaknesses. Whether you're looking for a quick summary or a detailed analysis, our team has you covered. Thank you for visiting our site, and we hope you find our reviews helpful and enjoyable.</p>
       
      </div>

    </body>
</html>